@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Role Management</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<ul>
    <li><a asp-action="Create">Add new role</a></li>
    <li><a asp-action="UserList">User list</a></li>
</ul>